<!DOCTYPE html>
<html>
<link rel="stylesheet" href="style.css">
<body>

<h1>DanceZone</h1>
<p>Rock the party :)</p>

<p>----------------------------------------------------------------------------------------------</p>

 <!-- this section prints out a list of of the songs that we found (1-10) -->

 <p class ="songname">There are many tracks with that name attributed to different albums and artists. <br/> Here is a list of the top 10:</p>

 <form action="output.html">
    <label for="listsong" class ="songname">Which of these projects contains the track you're looking for (enter their number in the list): <br>
    <input type="text" id="lname" name="track_number" value=""><br><br>
    <input type="submit" value="Submit">
  </form>


</body>
</html>